statemachines/task-expiration.asl.json
{
    "Comment": "A state machine that handles task expiration process",
    "StartAt": "ProcessExpiredTask",
    "States": {
      "ProcessExpiredTask": {
        "Type": "Parallel",
        "Branches": [
          {
            "StartAt": "UpdateTaskStatus",
            "States": {
              "UpdateTaskStatus": {
                "Type": "Task",
                "Resource": "arn:aws:states:::dynamodb:updateItem",
                "Parameters": {
                  "TableName": "${TasksTableName}",
                  "Key": {
                    "id": {
                      "S.$": "$.taskId"
                    }
                  },
                  "UpdateExpression": "SET #status = :status",
                  "ExpressionAttributeNames": {
                    "#status": "status"
                  },
                  "ExpressionAttributeValues": {
                    ":status": {
                      "S": "expired"
                    }
                  },
                  "ReturnValues": "ALL_NEW"
                },
                "ResultPath": "$.updateResult",
                "End": true
              }
            }
          },
          {
            "StartAt": "GetTaskDetails",
            "States": {
              "GetTaskDetails": {
                "Type": "Task",
                "Resource": "arn:aws:states:::dynamodb:getItem",
                "Parameters": {
                  "TableName": "${TasksTableName}",
                  "Key": {
                    "id": {
                      "S.$": "$.taskId"
                    }
                  }
                },
                "ResultPath": "$.taskDetails",
                "Next": "GetUserDetails"
              },
              "GetUserDetails": {
                "Type": "Task",
                "Resource": "arn:aws:states:::dynamodb:getItem",
                "Parameters": {
                  "TableName": "${UsersTableName}",
                  "Key": {
                    "id": {
                      "S.$": "$.taskDetails.Item.assignedTo.S"
                    }
                  }
                },
                "ResultPath": "$.userDetails",
                "Next": "GetAdminDetails"
              },
              "GetAdminDetails": {
                    "Type": "Task",
                    "Resource": "arn:aws:states:::dynamodb:scan",
                    "Parameters": {
                      "TableName": "${UsersTableName}",
                      "FilterExpression": "isAdmin = :isAdmin",
                      "ExpressionAttributeValues": {
                        ":isAdmin": {
                          "BOOL": true
                        }
                      }
                    },
                    "ResultPath": "$.adminDetails",
                    "Next": "NotifyUsersAboutExpiredTask"
                  },
              "NotifyUsersAboutExpiredTask": {
                "Type": "Task",
                "Resource": "arn:aws:states:::sns:publish",
                "Parameters": {
                  "TopicArn": "${ClosedTaskNotificationTopicArn}",
                  "Message": {
                    "default.$": "States.Format('Task ID: {} has expired. Name: {}. Description: {}', $.taskId, $.taskDetails.Item.name.S, $.taskDetails.Item.description.S)"
                  },
                  "MessageAttributes": {
                    "recipientEmails": {
                      "DataType": "String.Array",
                      "StringValue.$": "States.JsonToString(States.Array($.userDetails.Item.email.S, $.adminDetails.Items[0].email.S))"
                    }
                  }
                },
                "End": true
              }
            }
          }
        ],
        "End": true
      }
    }
  }